{{!--
SPDX-FileCopyrightText: © 2025 Ethaks <ethaks@pm.me>

SPDX-License-Identifier: LicenseRef-CopyrightEthaks
--}}

<div class="main-content">
	<template data-application-part="header"></template>
	<template data-application-part="tabs"></template>
	<template data-application-part="sidebar"></template>
	{{#each tabs}}
		<template data-application-part="{{id}}"></template>
	{{/each}}
</div>
